body{
    background-color: rgb(185, 60, 60);
}


nav a {
margin-top: 8px;
padding: 2px;
font-size: 20px;
text-align: none;
display: flex;
justify-content: center;
color:rgba(red, green, blue, alpha)
}


p {
color:rgb(255, 255, 255)
}


.categoria-videos img {
opacity: 0,6;
}

.vermelho {
font-style: italic;
}


.img1 {
    width: 65%;
}

.centro{
    text-align: justify;
}